.formTitle {
	color: #001540;
	font-size: 2rem;
	margin-bottom: 40px;
}

/* --- REGISTER INFO --- */
.registerInfoContainer {
	width: 100%;
	max-width: 450px;
}

.registerFormContainer {
	width: 100%;
	max-width: 450px;
	text-align: center;
	max-height: 588px;
}

.registerButton {
	width: 100%;
	background: transparent;
	border: 1px solid #001540;
	padding: 12px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 80px;
	margin-top: 15px;
	cursor: pointer;
}

.benefitsList h3 {
	color: #001540;
	margin-bottom: 25px;
	font-size: 25px;
	text-align: left;
}

.benefitItem {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	margin-left: 20px;
	text-align: left;
}

.benefitItem p {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4;
	color: #333;
}

.rulesCheckbox {
	display: flex;
	align-items: center;
	gap: 10px;
}

.formError {
	width: 100%;
	color: rgb(150, 0, 0);
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0;
	text-align: center;
	overflow-wrap: break-word;
	background-color: rgb(255, 146, 146);
	padding: 10px;
	border-style: solid;
	border-color: rgb(255, 212, 212);
}
